/* Graça Alberto - estilo cru, sem animação*/
* { font-family: 'Inter', sans-serif; }
.font-mono { font-family: 'JetBrains Mono', monospace!important; }

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


/* Detalhe humano: seleção simples */
::selection { background: #fff; color: #000; }

/* Link hover sutil */
a { text-underline-offset: 4px; }

/* Scrollbar discreta */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-thumb { background: #27272a; }

.sr-only { position:absolute; left:-10000px; width:1px; height:1px; overflow:hidden; }